@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
body {
    font-size: 16px;
    font-family: 'Sans', sans-serif;
    line-height: 1.5;
    margin: 1.25rem auto;
    max-width: 850px;
}

/* header */ 

#icon {
    height: 150px;
    padding: 13px;
    float: left;
    padding-left: 200px;
}

header {
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 0px;
    margin-bottom: 0px;
}

#moto {
    font-size: 12px;
}

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* nav menu */

.navigation {
    background-color: #000000;
    clear: left;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

li {
    display: none;
}

li a {
    display: block;
	padding: 31px;
	text-align: left;
	text-decoration: none;
	color:#e2e1e1;
	/* font-weight: 700; */
}

li a:hover {
    color: black;
    background-color: #a6f3c3;
}

li:first-child {
    display: block;
}

.responsive li {
    display: block;
}



/* main */

h2 {
    text-align: center;
    padding: 12px;
    font-size: 30px;
}

.contentbox {
    border: 1px dashed #f8ec3f;
    padding: 15px;
    background-color: #d4d6da;
    margin: 10px auto;
    font-style: italic;
    
}



/* footer */

footer {
    background-color: #727272;
    color: #cad0da;
    padding: 12px;
    text-align: center;
    line-height: .7;
}

/* #footwords {
    padding-bottom: 0px;
}

#currentdate {
    padding-top: 0px;
} */


@media only screen and (min-width: 50em) {

h1 {
    font-size: 40px;
}

#moto {
    font-size: 12px;
}

#icon {
    height: 200px;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

li {
    display: block;
    flex: 1 1 auto;
}

li:first-child {
    display: none;
}

.responsive li {
    display: none;
}

}  